:root {
  &:has(#htlight:checked) { color-scheme: light; }
  &:has(#htdark:checked)  { color-scheme: dark; }

  --demo-bg-neutral:   light-dark(#ddd, #444);
  --demo-bg-notice:    light-dark(#ffc, #660);
  --demo-bg-negative:  light-dark(#fcc, #644);
  --demo-bg-positive:  light-dark(#cfc, #464);
  --demo-bg-reference: light-dark(#ccf, #448);
  --demo-bg-special:   light-dark(#fcf, #646);
  --demo-bg-inverted:  light-dark(#000, #fff);

  --demo-fg-neutral:   light-dark(#bbb, #666);
  --demo-fg-notice:    light-dark(#880, #ffc);
  --demo-fg-negative:  light-dark(#800, #c88);
  --demo-fg-positive:  light-dark(#080, #8c8);
  --demo-fg-reference: light-dark(#00c, #88c);
  --demo-fg-special:   light-dark(#808, #c8c);
  --demo-fg-inverted:  light-dark(#fff, #000);
}

code {
  color: var(--fg-reference);
}

.cbgDemoNeutral   { background-color: var(--demo-bg-neutral); }
.cbgDemoNotice    { background-color: var(--demo-bg-notice); }
.cbgDemoNegative  { background-color: var(--demo-bg-negative); }
.cbgDemoPositive  { background-color: var(--demo-bg-positive); }
.cbgDemoReference { background-color: var(--demo-bg-reference); }
.cbgDemoSpecial   { background-color: var(--demo-bg-special); }
.cbgDemoInverted  { background-color: var(--demo-bg-inverted); }

.cfgDemoNeutral   { color: var(--demo-fg-neutral); }
.cfgDemoNotice    { color: var(--demo-fg-notice); }
.cfgDemoNegative  { color: var(--demo-fg-negative); }
.cfgDemoPositive  { color: var(--demo-fg-positive); }
.cfgDemoReference { color: var(--demo-fg-reference); }
.cfgDemoSpecial   { color: var(--demo-fg-special); }
.cfgDemoInverted  { color: var(--demo-fg-inverted); }

#hCombinations * {
  border: 1px solid;
  padding: 0 0.5em;
}
#hCombinations {
  border-collapse: collapse;
}
